@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #DE6B18;
  --secondary-color: #F3D1B0;
  --accent-color: #FFE7D1;
  --background-color: #FFFBF8;
  --text-color: #212121;
  --tertiary-color: #8C3F0B;
}